Source: ros-kinetic-lkh
Section: misc
Priority: extra
Maintainer: Francisco Suarez-Ruiz <fsuarez6@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-lkh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-glkh-solver, ros-kinetic-lkh-solver
Description: ROS packages for solving the TSP and GTSP problems using LKH heuristic
